.grid-2{
    grid-gap: 5vw;
    grid-template-columns: 5fr 3fr;
    width: 100%;
}
h2{
    font-size: 2.5rem;
    margin: 40px 0;
    font-family: rubik;
}
.cart{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.cart-header{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 2fr .5fr;
    border-bottom: 1px solid var(--box-shadow);
    font-weight: 600;
    padding: 0 0 10px 0;
}
.cart-header span{
    font-family: nunito;
}
.cart-items{
    display: grid;
    width: 100%;
}
.cart-items > img{
    width: 50vw;
    height: 50vw;
    max-width: 200px;
    max-height: 200px;
    margin:  20px auto;
}
.cart-item{
    display: grid;
    grid-template-columns: 5fr 3fr 2fr 2fr .5fr;
    grid-gap: 10px;
    padding: 20px 0;
    font-weight: 600;
    align-items: center;
    font-size: 16px;
    border-bottom: .9px solid var(--box-shadow);
}
.cart-product{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}
.cart-product >div:nth-child(2){
    
    font-family: rubik;
}
.cart-product img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.cart-quantity{
    display: flex;
    align-items: center;
}
.qnty{
    display: flex;
    align-items: center;
    border: .9px solid var(--box-shadow);
    border-radius: 200px;
}
 .qnty input{
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    /* margin: 0 5px; */
    border-radius: 4px;
    border: none;
    border-right: .5px solid var(--box-shadow);
    border-left: .5px solid var(--box-shadow);
}
.qnty input::-webkit-outer-spin-button, .qnty input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    display: none;
    margin: 0;
}
.qnty span{
    /* border: 1px solid var(--box-shadow); */
    /* padding: 10px; */
    border-radius: 0 100px 100px 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2rem;
    font-family: "rubik", sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    cursor: pointer;
}
.qnty span:nth-child(1){
    border-radius: 100px 0 0 100px ;
}
.qnty span:active{
    
    box-shadow:  inset 5px 5px 10px var(--box-shadow), inset  5px 5px 10px #2b3f4d14, inset  -5px 5px 10px #2e4d461f;
}
.cart-price, .cart-total-price{
    font-family: "rubik", sans-serif;
}
.cart-delete{
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: var(--blue1);
}
.cart-bottom{
    min-height: 70px;
    align-items: flex-end;
    grid-template-areas: "btom-left btom-right ";
}
.cart-bottom .bottom-left{
    grid-area: btom-left;
}
.cart-bottom .bottom-right{
    display: grid;
    justify-items: flex-end;
    font-weight: 600;
    grid-area: btom-right;
    /* font-size: 1.5rem; */
}
.cart-bottom .bottom-right .subtotal{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-bottom .bottom-right .subtotal div{
    font-size: 1.2rem;
    margin-left: 10px;
}

.right{
    padding: 40px 2vw;
}
.right h3{
    margin-bottom: 10px;
}


/* form */
input[type=number]{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
label{
    font-weight: 600;
    font-size: 1rem;
    font-family: "nunito", Arial, Helvetica, sans-serif;
}
form{
    display: grid;
    max-width: 350px;
    width: 100%;
    z-index: 2;
}
form input {
    border: 1px solid var(--green);
    padding: 10px;
    border-radius: 4px;
    margin: 8px 0;
    font-size: 16px;
    background-color: var(--white);
}
/* form input[type="file"] {
    height: 40px;
    padding: 0 10px 0 0;
    cursor: pointer;
} */
/* form input::-webkit-file-upload-button {
    width: 50%;
    height: 100%;
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
} */
form button {
    width: 60%;
    border: none;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 4px;
    margin: 15px auto;
    cursor: pointer;
    font-weight: 600;
}
form button[type=submit]{
    background-color: var(--green);
    color: var(--white);
    box-shadow: 5px 5px 10px var(--box-shadow),   5px 5px 10px #026fbb14,   -5px 5px 10px #16c09b1f ;
}
form button[type=submit]:active{
    box-shadow:  inset 5px 5px 10px var(--box-shadow), inset  5px 5px 10px #026fbb14, inset  -5px 5px 10px #16c09b1f;
}

textarea{
    border: 1px solid var(--green);
    padding: 10px;
    border-radius: 4px;
    margin: 15px 0;
    font-size: 1.2rem;
}
textarea:focus{
    border: 1px solid var(--green);
}



@media screen and (max-width: 480px) {
    .grid-2{
        grid-template-columns: 1fr;
    }
    .cart-header {
        grid-template-columns: 5fr 3fr 2fr .5fr;
    }
    .cart-product img{
        width: 20vw;
        height: 20vw;
        margin-right: 4vw;
    }
    .cart-item{
        grid-template-columns: 5fr 3fr 2fr .5fr;
    }
    .cart-total-price, .hide-on-small {
        display: none;
    }
    .cart-quantity{
        justify-content: center;
    }
    .qnty{
        display: grid;
        justify-items: center;
    }
    .cart-bottom{
        grid-template-columns: 1fr;
        grid-template-areas: " btom-right"
                              "btom-left"
                             ;
        padding: 20px 0;
        grid-gap: 20px;
    }
    .right{
        background-color: white;
    }
    .right h3{
        color: var(--dark-blue);
    }
    label{
        color: var(--dark-blue);
    }
    form input, form textarea {
     border: 1px solid var(--green);
    }
}