*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --white: #ffffff;
    --black: #333333;
    --blue: #026FBB;
    --green: #16C09B;
    --box-shadow: rgba(0 0 0 / 15%);
    --red: #D60606;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
    font-size: 14px;
}
body{
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: auto;
    color: var(--black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* General classes */
img{
    width: 100%;
}
h1{
    font-size: 5rem;
    margin-left: 70px;
}
h2{
    font-size: 3rem;
    margin-left: 70px;
}
h3{
    font-size: 2rem;
    margin-left: 70px;
}
.btn{
    border-radius: 200px;
    box-shadow: 5px 5px 25px var(--box-shadow);
    width: fit-content;
    padding: 20px;
    font-weight: 600;
    cursor: pointer;
}
.btn-primary{
    color: var(--white);
    background-color: var(--black);
    font-size: 2rem;
    height: 5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
}


section >div{
    margin-bottom: 50px;
}

/* nav */
nav{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--white);
    box-shadow: 0 5px 20px var(--box-shadow);
    position: sticky;
    z-index: 999;
    top: 0;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: underline;
    color: inherit;
    font-size: 1.2rem;
}
nav .logo-section{
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .logo-section .logo img{
    width: 80px;
    height: 80px;
}
nav .search-div{
    position: relative;
}
nav .search-div label{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(6%,-50%);
}
nav .search-div input{
    width: 20rem;
    border-radius: 100px;
    padding: .7rem 1.5rem .7rem 3rem ;
    border: 1px solid var(--box-shadow);
}

.section .main{
    z-index: 9;
}
.section .main h2{
    margin-top: 20vh;
    margin-bottom: 10vh;
}
/* intro landing advert*/
.intro{
    display: grid;
    grid-template-columns: 2fr .5fr 4fr;
    position: relative;
    height: 90vh;
}
.intro-img{
    padding: 40px 0 0 70px;
}
.intro .intro-main{
    padding: 40px;
    display: grid;
    /* grid-gap: 2rem; */
    font-size: 1.6rem;
}
.intro .intro-main .intro-heading{
    font-size: 4rem;
    font-weight: 600;
    padding: 15vh 0 20px;
}

.intro .intro-main .intro-text{
    width: 60%;
}

.intro-sub{
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30vw;
    padding: 10px;
    box-shadow: -5px -5px 10px var(--box-shadow);
}
.intro-sub div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 13px;
    grid-gap: 1rem;
}
.intro-sub img{
    width: 5rem;
    height: auto;
}

.show-on-small{
    display: none;
}

/* advise */
.advise{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    height: 100vh;
    position: relative;
    align-items: center;
    padding: 0 70px;
    justify-content: center;
}
.advise-text{
    font-size: 3rem;
    font-weight: 600;
    /* width: 50vw; */
}
.advise-text .btn{
    margin-top: 4rem;
}
.advise-img img{
    width: 30vw;
    height: auto;
    height: 50vw;
}
/* .advise-img img{
    object-fit: cover;
    position: relative;
    top: -40%;
} */
.small-info{
    font-size: 3rem;
    color: var(--blue);
    text-align: center;
}

/* categories */
.categories{
    display: grid;
    margin: 0 auto;
    width: 60vw;
    grid-gap: 1rem;
    font-size: 1.3rem;
}
.categories a,.categories a div, .categories a div img{
    max-height: 30vw;
    object-fit: cover;
    position: relative;
    color: var(--black);
    font-weight: 900;
    height: 40vh;
    cursor: pointer;
}
.categories a div img{
    z-index: 2;
}
/* .categories a div .category-btn */
.categories .cat1{
    /* grid-row: 1/2; */
    grid-column: 1/2;
}
.categories .cat2{
    /* grid-row: 1/2; */
    grid-column: 2/3;
}
.categories .cat3{
    /* grid-row: 2/3; */
    grid-column: 1/3;
}

.categories .category-btn{
    z-index: 12;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    height: auto;
    text-align: center;
}

.advise2{
    margin: 30vh 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.advise2 h3{
    margin: 0;
}
.advise2 p{
    margin: 2rem 0;
    font-size: 2rem;
}

/* products */
.scroll-section{
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    width: fit-content;
    max-width: 100vw;
    margin: 5vh auto;
}
.scroll-section::-webkit-scrollbar{
    display: none;
}
.items >p{
    margin-left: 70px;
    font-size: 1.5rem;
    margin-bottom: 6vh;
    margin-top: -5vh;
}
.product{
    display: inline-block;
    width: 40vw;
    max-width: 250px;
    height: auto;
    margin-right: 2rem;
}
.product .product-img {
    width: 100%;
    height: 40vw;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 5px 5px 25px var(--box-shadow);
}
.product .product-img img{
    object-fit: cover;
    height: 100%;
}
 .product-name{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.discounts h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discounts h2 .btn{
    padding: 10px 20px;
    margin-right: 6vw;
    border: 1px solid;
    font-size: 1.8rem;
} 
.discounts .price{
    font-weight: 900;
}
.discounts .discount-price{
    margin: 10px 0;
}
.discounts .discount-price .discount{
    color: var(--green);
    text-decoration: line-through;
}
.discounts .discount-price .percentage-off{
    color: var(--red);
    font-weight: 600;
    margin-left: 20px;
}
.item-of-the-week .item{
    width: 50vw;
    min-width: 200px;
    margin: 0 auto;
    display: block;
}
.item-of-the-week .item img{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
.item-of-the-week .item-price{
    font-size: 1.2rem;
    font-weight: 600;
}
.item-of-the-week .item-price .number-discount{
    font-size: 1rem;
    /* color: var(--green); */
    margin-left: 20px ;
}

/* contact section */
.contact .contact-icon{
    display: flex;
    justify-content: center;
}
.contact .contact-icon span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.contact .contact-icon span a{
    text-decoration: underline;
    color: inherit;
}
.contact .contact-icon span img{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.contact-main{
    display: flex;
    justify-content: center;
    margin: 10vh 0;
}

form p{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0;
}
form input, form textarea{
    border: .5px solid;
    width: 40vw;
    height: 50px;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
}
form textarea{
    height: 100px;
}
form input:focus, form textarea:focus{
    border: 1.5px solid var(--green);
}
form button{
    background-color: var(--black);
    color: var(--white);
    width: 30vw;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
/* footer */
footer{
    width: 70vw;
    margin: 10vh auto 0;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    padding: 40px 0;
}
footer a{
    color: inherit;
    text-decoration: underline;
}
footer ul{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 460px){

    .hide-on-small{
        display: none;
    }
}

.cover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--box-shadow);
    top: 0;
    left: 0;
    z-index: 9999;
    left: -100vw;
    transition: all ease-in-out .8s;
}
.subsection{
    display: grid;
    grid-template-columns: 1fr 6fr;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--white);
    z-index: 99999;
    box-shadow: 5px 0 25px var(--box-shadow);
    overflow-y: scroll;
    left: -100vw;
    transition: all ease-in-out .8s;
}
.subsection .sub-main, .subsection .all-categories{
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 0;
    display: block;
}
.sub-main::-webkit-scrollbar, .all-categories::-webkit-scrollbar{
    display: none;
}


/* subcategory all-categories */
.subsection .all-categories{
    display: block;
    text-align: center;
    border-right: .5px solid var(--green);
}

.subsection .all-categories > p{
    font-weight: 600;
    font-size: 1.3rem;
}
.subsection .all-categories ul{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.subsection .all-categories ul li{
    height: 70px;
    width: 90%;
    margin: 0 0 0 10%;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.subsection .all-categories ul li:not(:last-child){
    border-bottom: 1px solid var(--box-shadow);
}
.subsection .all-categories ul li.active{
    border-right: 4px solid var(--green);
    /* border-bottom: 2px solid var(--green); */
}
/* subcategory sub-main */
.subsection .sub-main h3{
    margin-left: 25vw;
    padding: 20px 0 40px;
}

.subsection .sub-main .top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    position: absolute;
    right: 3vw;
    top: 10px;
    cursor: pointer;
}
.subsection .sub-main .top span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 0 15px rgba(0 0 0 / 19%);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.sub-main .subcategory-content .categories{
    width: 65vw;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
}
.sub-main .subcategory-content .categories .category-btn{
    font-size: 1.1rem;
    padding: 10px;
}