:root{
    --col: #1d1d25;
}
body{
    height: 100vh;
}
.main-singleproduct{
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 80vw;
    min-width: 1000px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}
.main-singleproduct img{
    width: 40vw;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    /* position: absolute; */
    /* top: 50%;
    right:  20%;
    transform: translate(20%, -50%); */
    /* object-fit: cover; */
}
.singleproduct-description{
    color: black;
    width: 30vw;
    align-self: center;
    justify-self: center;
    /* position: absolute; */
    /* top: 50%;
    left:  20%;
    transform: translate(-20%, -50%);
    width: 30vw; */
    text-align: left;
}
.singleproduct-description h3{
    margin-left: 0;
    -webkit-text-fill-color: var(--black);
}
.singleproduct-description .description{
    font-size: 1.3rem;
    margin: 40px 0;
}
.singleproduct-description .price{
    font-weight: 700;
    font-size: 2rem;
}
.singleproduct-description .addtocart{
    margin-top: 30px;
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-gap: 20px;
    align-items: center;
}
.singleproduct-description .addtocart .btn{
    height: 60px;
    font-size: 1.5rem;
    min-width: 150px;
}
.qnty{
    display: flex;
    align-items: center;
}
 .qnty input{
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    margin: 0 5px;
    border: 1px solid var(--black);
    border-radius: 2px;
    color: var(--white);
    background-color: var(--white) ;
    color: black;
}
.qnty input::-webkit-outer-spin-button, .qnty input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    display: none;
    margin: 0;
}
.qnty span{
    border: 1px solid var(--black);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}